<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接串-->
  <connectionStrings>
    <clear/>
    <add name="oracle"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.135.12)(PORT=1521)))(CONNECT_DATA=(SERVER_NAME=p2p2012.SKLCC)));User ID=sklcc;Password=sklcc503;"
         />
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="CenterServerIP" value="192.168.135.16"/>
  </appSettings>
</configuration>